<% if @team.users.exists?(current_user.id) %>
<p>
  <strong>チーム名:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>チームの説明:</strong>
  <%= @team.description if @team.description.present? %>
</p>

<p>
  <strong>チーム画像:</strong>
  <%= image_tag @team.image if @team.image.present? %>
</p>

<p>
  <strong>チーム更新日:</strong>
  <%= l @team.updated_at %>
</p>
<p>
  <strong>チーム作成日:</strong>
  <%= l @team.created_at %>
</p>
<% end %>
<br>
<% @team.users.each do |user| %>
<div class="mb-2">
  <span class= "mr-3" ><%= user.name %></span>
  <span class= "mr-1" ><%= image_tag 'https://picsum.photos/30/30?image=' + rand(100).to_s ,class: "rounded-circle" %></span>
</div>
 <% end %>
 <br>
<%= link_to '編集する', edit_team_path(@team) ,class:"btn btn-sm btn-primary mr-2"%> |
<%= link_to '招待', "#" ,class:"btn btn-sm btn-primary mr-2" %> |
<%= link_to 'カテゴリ作成', new_team_category_path(@team,@category) ,class:"btn btn-sm btn-primary mr-2" %> |
<%= link_to 'チーム削除', team_path(@team),method: :delete,data: { confirm: 'チームを削除しても良いですか？' } ,class:"btn btn-sm btn-danger" %>
